.wy-side-nav-search, .wy-nav-top {
   background: #13699f; /* blue OHEJP color*/
   /* background: #ffffff;
    color: #13699f;
    headtextcolor: #13699f;*/
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    color: #ffffff;
}

 /* Sidebar */
  .wy-side-scroll {
    background: #13699f;}

.wy-menu-vertical a:hover {
    background-color: #4e4a4a;
    cursor: pointer;
}

wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a:hover {
    background: #fcfcfc;
}

.wy-menu-vertical li.current a:hover {
    background: #7196ad;
}
